body {
    background-color: black;
    background-image: url(imagens/fundo_neo.jpg);
    background-position: right;
    background-repeat: repeat-y;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: white;
    width: 88%;
    background-image: url(imagens/fundo_matrix.jpg);
}

.direita {
    text-align: right;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: lightgreen;
    text-align: justify;
    width: 88%;
    line-height: 3;
}
